<a href="https://colab.research.google.com/github/datawithkhushboo/Genome_Assignment/blob/main/Python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Libraries

In [ ]:

import pandas as pd  # for Data framing
from datetime import datetime # for datetime operation

# Load the Data

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/datawithkhushboo/Genome_Assignment/main/deal_data.csv') # import the data direct from github

In [ ]:
df.head() # shows the top values of data

,Unnamed: 0,SourceFundingID,Source,Domain,SourceCompanyID,PostMoneyValuation,Type,SourceType,Amount,Original_Date,...,Agency Consultancy,Ecosystem,GoogleCountry,GoogleCity,Sectors,Region,FormationDate,Amount_ExchangeRate,Amount_USD,PostMoneyValuationUSD
0,0,00058d99-4eb8-47d4-9189-01f90ebd86e9,Crunchbase,NaN,b6204211-01eb-4e84-ba95-4f9780724d30,2450000.0,seed,seed,320000.0,2020-06-01 00:00:00+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,320000.0,2450000.0
1,1,00067368-f52d-4ccf-824d-c73115615c4d,Crunchbase,NaN,ada0db7e-2854-4d21-8e6a-eee86e978182,NaN,seed,pre seed,NaN,2021-01-19 00:00:00+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,00172f9e-6c79-4d86-a176-d69fda4e4d77,Crunchbase,NaN,b8210cf6-6b5f-4697-961c-8ac3e6d419ba,NaN,venture,venture,NaN,2011-01-01 00:00:00+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0027cfba-6051-4472-b82e-21ca5687395a,Crunchbase,NaN,9b400938-bd82-430a-90b6-35663785a5b8,NaN,seed,angel,NaN,2018-07-31 00:00:00+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0029dad2-c341-4ea7-99e3-2db296f474eb,Crunchbase,NaN,22007017-3d3b-41c1-9b6a-0fd71075614a,10000000.0,seed,pre seed,NaN,2020-10-12 00:00:00+00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000000.0

# Understand the Data

In [ ]:
df.shape # check the shape( row, columns)

(10000, 30)

In [ ]:
df.size # check the size row* columns

300000

In [ ]:
df.isnull().sum() # check the total count of null values in each columns

Unnamed: 0                  0
SourceFundingID             0
Source                      0
Domain                   3891
SourceCompanyID            21
PostMoneyValuation       9327
Type                        0
SourceType                  0
Amount                   3137
Original_Date              15
Date                       15
MonthUnknown               15
CreatedAt                3527
UpdatedAt                3527
VentureStage             7769
Type_combined               0
CurrencyCode              185
ValuationCurrencyCode     182
ID                          0
Tech                     4536
Agency Consultancy       3943
Ecosystem                3931
GoogleCountry            3933
GoogleCity               4306
Sectors                  5507
Region                   3935
FormationDate            3966
Amount_ExchangeRate      3140
Amount_USD               3140
PostMoneyValuationUSD    9328
dtype: int64

In [ ]:
df.duplicated().sum() # check the duplicates

0

In [ ]:
df['Source'].unique() # shows the unique values in the source

array(['Crunchbase', 'Dealroom', 'PitchBook', 'Survey', 'Member', 'ACCIO',
       'New Zealand', 'Atlanta', 'Riyadh Member', 'Metro Atlanta Chamber',
       'Moscow', 'LaunchVic', 'Barcelona', 'Pitchbook', 'Philippines',
       'Valhalla deals', 'Startup Delta'], dtype=object)

In [ ]:
df['Type'].unique() # shows the unique values in the type

array(['seed', 'venture'], dtype=object)

In [ ]:
df['SourceType'].unique() # shows the unique values in the sourcetype

array(['seed', 'pre seed', 'venture', 'angel', 'venture a', 'venture b',
       'venture c', 'venture d', 'venture f', 'venture g', 'seed round',
       'series a', 'series b', 'angel individual', 'late vc', 'series c',
       'series e', 'early vc', 'series f', 'series d', 'series a1',
       'series b1', 'series b2', 'series 1', 'pre a', 'series c1',
       'series d2', 'venture e', 'series 2', 'series 3', 'series a2',
       'series aa', 'series g', 'series c2', 'series e1', 'series h',
       'venture h'], dtype=object)

In [ ]:
df['Agency Consultancy'].unique() # shows the unique values in the Agency Consultancy

array([nan, False, True], dtype=object)

In [ ]:
df['Region'].unique() # shows the unique values in the Region

array([nan, 'Europe', 'Northern America', 'Asia', 'Latin America',
       'Oceania', 'Africa'], dtype=object)

In [ ]:
df.info() # shows the info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             10000 non-null  int64
 1   SourceFundingID        10000 non-null  object
 2   Source                 10000 non-null  object
 3   Domain                 6109 non-null   object
 4   SourceCompanyID        9979 non-null   object
 5   PostMoneyValuation     673 non-null    float64
 6   Type                   10000 non-null  object
 7   SourceType             10000 non-null  object
 8   Amount                 6863 non-null   float64
 9   Original_Date          9985 non-null   object
 10  Date                   9985 non-null   object
 11  MonthUnknown           9985 non-null   float64
 12  CreatedAt              6473 non-null   object
 13  UpdatedAt              6473 non-null   object
 14  VentureStage           2231 non-null   object
 15  Type_combined          10000 non-null  object
 16  CurrencyCode           9815 non-null   object
 17  ValuationCurrencyCode  9818 non-null   object
 18  ID                     10000 non-null  object
 19  Tech                   5464 non-null   object
 20  Agency Consultancy     6057 non-null   object
 21  Ecosystem              6069 non-null   object
 22  GoogleCountry          6067 non-null   object
 23  GoogleCity             5694 non-null   object
 24  Sectors                4493 non-null   object
 25  Region                 6065 non-null   object
 26  FormationDate          6034 non-null   object
 27  Amount_ExchangeRate    6860 non-null   float64
 28  Amount_USD             6860 non-null   float64
 29  PostMoneyValuationUSD  672 non-null    float64
dtypes: float64(6), int64(1), object(23)
memory usage: 2.3+ MB

# Data Cleaning

In [ ]:
df.drop('Unnamed: 0',axis=1,inplace=True) # drop the column

In [ ]:
df.drop(['Date'],axis=1,inplace=True)  # drop the column

In [ ]:
# Calculate the percentage of null values in each column
null_check = df.isnull().sum() / len(df)
# Get the columns that have more than 30% missing values
columns = null_check[null_check > 0.3].index

In [ ]:
columns = list(columns)

In [ ]:
df = df.drop(columns,axis=1)# drop the column which having null values more than 30%

In [ ]:
df.isnull().sum()

SourceFundingID            0
Source                     0
SourceCompanyID           21
Type                       0
SourceType                 0
Original_Date             15
MonthUnknown              15
Type_combined              0
CurrencyCode             185
ValuationCurrencyCode    182
ID                         0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SourceFundingID        10000 non-null  object
 1   Source                 10000 non-null  object
 2   SourceCompanyID        9979 non-null   object
 3   Type                   10000 non-null  object
 4   SourceType             10000 non-null  object
 5   Original_Date          9985 non-null   object
 6   MonthUnknown           9985 non-null   float64
 7   Type_combined          10000 non-null  object
 8   CurrencyCode           9815 non-null   object
 9   ValuationCurrencyCode  9818 non-null   object
 10  ID                     10000 non-null  object
dtypes: float64(1), object(10)
memory usage: 859.5+ KB

### Convert ‘Original_Date’ to string and extract date part

In [ ]:
df['Original_Date']=df['Original_Date'].astype("str")
df['Original_Date']=df['Original_Date'].apply(lambda x : x[0:10])

In [ ]:
df['Original_Date'].unique()

array(['2020-06-01', '2021-01-19', '2011-01-01', ..., '2012-01-22',
       '2011-09-22', '2014-04-16'], dtype=object)

### Remove the nan values from the original_date column

In [ ]:
df = df[df['Original_Date']!='nan']

### Convert ‘Original_Date’ to datetime and keep only date part

In [ ]:
df['Original_Date']=pd.to_datetime(df['Original_Date'].apply(lambda x : datetime.strptime(x,'%Y-%m-%d').date()))

<ipython-input-145-fd9ee3178b9e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Original_Date']=pd.to_datetime(df['Original_Date'].apply(lambda x : datetime.strptime(x,'%Y-%m-%d').date()))

###  remove null values from mentioned columns

In [ ]:
df=df.dropna(subset=['SourceCompanyID','CurrencyCode','ValuationCurrencyCode'])

In [ ]:
df.isnull().sum()

SourceFundingID          0
Source                   0
SourceCompanyID          0
Type                     0
SourceType               0
Original_Date            0
MonthUnknown             0
Type_combined            0
CurrencyCode             0
ValuationCurrencyCode    0
ID                       0
dtype: int64

### Replace the series value with venture becuase both are same

In [ ]:
df['SourceType']=df.SourceType.str.replace("series","venture")

<ipython-input-148-8adba49752a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SourceType']=df.SourceType.str.replace("series","venture")

#Sort based on dates to identify potential duplicate deals

In [ ]:
df=df.sort_values(by=["Original_Date", "Type", "Source",'SourceType'])

#deduplicate within each group

In [ ]:
def dedupe(group):
  deduped = []
  prev_date = None
  for index, row in group.iterrows():
    curr_date = row["Original_Date"]
    if prev_date is None or (curr_date - prev_date).days > 190:
      deduped.append(row)
      prev_date = curr_date
  return pd.DataFrame(deduped)

In [ ]:
final_output = df.groupby("SourceType").apply(dedupe)

In [ ]:
final_output

                                      SourceFundingID      Source  \
SourceType
angel      8737                                143736    Dealroom
           6074  a6c27500-656d-4ec3-a86e-1ef51798feb2  Crunchbase
           9066                                190293    Dealroom
           1030                                167111    Dealroom
           8838                                161536    Dealroom
...                                               ...         ...
venture f  1917                                271340    Dealroom
           520                             113394-79T   PitchBook
venture g  8473                                114999    Dealroom
           189   082dd3b8-1396-c773-8bd6-cdf482ae766e  Crunchbase
venture h  9698                                295629    Dealroom

                                      SourceCompanyID     Type SourceType  \
SourceType
angel      8737                                164838     seed      angel
           6074  1ff7ff1a-a646-441e-b811-46b77b9fe830     seed      angel
           9066                                135910     seed      angel
           1030                                201970     seed      angel
           8838                                 91385     seed      angel
...                                               ...      ...        ...
venture f  1917                                 34659  venture  venture f
           520                               96145-66  venture  venture f
venture g  8473                               1416261  venture  venture g
           189   365f2923-5996-25d9-a425-8c3dc0964fe4  venture  venture g
venture h  9698                                978385  venture  venture h

                Original_Date  MonthUnknown Type_combined CurrencyCode  \
SourceType
angel      8737    2002-01-01           1.0          seed          USD
           6074    2002-07-17           0.0          seed          CNY
           9066    2004-01-01           1.0          seed          USD
           1030    2005-01-01           1.0          seed          USD
           8838    2006-04-01           0.0          seed          USD
...                       ...           ...           ...          ...
venture f  1917    2019-05-01           0.0     venture f          USD
           520     2019-12-24           0.0     venture f          USD
venture g  8473    2002-05-01           0.0     venture g          USD
           189     2010-07-08           0.0     venture g          USD
venture h  9698    2019-11-01           0.0     venture h          USD

                ValuationCurrencyCode  \
SourceType
angel      8737                   USD
           6074                   CNY
           9066                   USD
           1030                   USD
           8838                   USD
...                               ...
venture f  1917                   USD
           520                    USD
venture g  8473                   USD
           189                    USD
venture h  9698                   USD

                                                       ID
SourceType
angel      8737  106262190440494354728911057674528329615L
           6074   57597836139951980548437596200740179420L
           9066   81121148758647134598722766139785996674L
           1030   25352520295249444920825206612219468976L
           8838  328816418414589032289297266216031439238L
...                                                   ...
venture f  1917  321246091483920755231864998474205872377L
           520   186817472009341644491330517081476973661L
venture g  8473  134029154093518412562770665942675466008L
           189   129121638102851122566967863143782247856L
venture h  9698  257103241393849936462473344030513957286L

[414 rows x 11 columns]